# <span style="color:darkblue;">[LDATS2350] - DATA MINING</span>

### <span style="color:darkred;">Python03 - Pandas</span>

**Prof. Robin Van Oirbeek**  

<br/>

**<span style="color:darkgreen;">Guillaume Deside</span>** (<span style="color:gray;">guillaume.deside@uclouvain.be</span>)

---

## **Introduction to Pandas**

Pandas is a powerful **Python library** designed for **data manipulation and analysis**. It provides **high-performance data structures** and functions that make working with structured data intuitive and efficient. Pandas is widely used in **data science, data mining, machine learning, and financial analysis**.

### **Why Pandas?**
- **Data Handling**: Works seamlessly with structured data formats such as CSV, JSON, SQL databases, and Excel.
- **Flexible Data Structures**: Offers **Series** (1D) and **DataFrames** (2D tabular data), similar to spreadsheets or SQL tables.
- **Easy Data Cleaning & Transformation**: Missing data handling, filtering, grouping, and reshaping.
- **Powerful Merging & Joining**: Combines multiple datasets easily.
- **Efficient Performance**: Built on top of NumPy, making operations faster than traditional Python loops.

### **Main Functionalities**
- **Reading and Writing Data**: Import/export data from CSV, Excel, JSON, SQL, and more.
- **Data Selection & Manipulation**: Extract, filter, and transform data efficiently.
- **Handling Missing Data**: Fill, drop, or interpolate missing values.
- **Grouping & Aggregation**: Summarize data using group operations.
- **Merging & Joining**: Combine multiple datasets based on common keys.
- **Reshaping Data**: Pivoting, stacking, and unstacking data for analysis.

By mastering Pandas, you will develop essential **data processing skills** that are crucial for **data mining, analytics, and machine learning workflows**.

# DataFrame

A **Pandas DataFrame** is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns). In other words, a DataFrame is like a table in a relational database or an Excel spreadsheet, where data is organized in rows and columns, and each column can have a different data type.

---

### Key Features of a DataFrame

- **Two-dimensional**: Data is organized in rows and columns.
- **Size-mutable**: You can easily add or remove rows and columns.
- **Heterogeneous**: Different columns can store different data types (e.g., integers, floats, strings).
- **Labeled axes**: Both rows and columns have labels (indices for rows and names for columns), which make data selection and manipulation intuitive.

---

### Creating a DataFrame

DataFrames can be created from a variety of data sources, such as:
- Dictionaries of lists or arrays
- CSV or Excel files
- Other DataFrame objects
- Databases

### Basic Operations with DataFrames
	•	Viewing Data:
	◦	Use df.head() to view the first few rows.
	◦	Use df.tail() to view the last few rows.
	•	Selecting Columns:
	◦	Retrieve a column: df['Name'].
	•	Filtering Rows:
	◦	Filter based on a condition: df[df['Age'] > 30] returns rows where the age is greater than 30.
	•	Adding or Removing Columns:
	◦	Add a column: df['Salary'] = [50000, 60000, 70000, 80000].
	◦	Remove a column: df.drop('City', axis=1, inplace=True).
	•	Descriptive Statistics:
	◦	Use df.describe() to view summary statistics for numeric columns.

### Why Use DataFrames in Data Mining?
DataFrames are essential in data mining because they provide an intuitive and efficient way to:

-	Store and organize large datasets.
-	Clean and preprocess data (e.g., handling missing values, filtering, and aggregating).
-	Analyze data by performing descriptive statistics and exploratory data analysis.
-	Integrate with other libraries: They work seamlessly with libraries like NumPy, Matplotlib, and scikit-learn for scientific computing, visualization, and machine learning.

DataFrames allow you to focus on data analysis and modeling without worrying about low-level data handling, making them a powerful tool in any data mining project.

## **Creating a Simple Pandas DataFrame**

In this example, we demonstrate how to create a **Pandas DataFrame** from a Python dictionary. DataFrames are one of the most commonly used data structures in Pandas, providing an efficient way to store and manipulate structured data.

In [ ]:
import pandas as pd
# Define data as a dictionary where keys are column names
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}

# Create the DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

# Importing a dataframe

**Common Parameters of `read_csv()`**

| **Parameter**      | **Description**                                  | **Example**                        |
|--------------------|------------------------------------------------|------------------------------------|
| `filepath_or_buffer` | Path to the CSV file (local or URL)           | `"Data/myfile.csv"`               |
| `sep`             | Specifies the separator (default is `,`)       | `sep=";"` (for semicolon-separated files) |
| `header`          | Row number to use as column names (default = 0) | `header=1` (use the second row as headers) |
| `names`           | Manually specify column names                   | `names=['A', 'B', 'C']`           |
| `index_col`       | Set a specific column as the index              | `index_col="ID"`                  |
| `usecols`         | Load only specific columns                      | `usecols=['Name', 'Age']`         |
| `dtype`           | Specify data types for columns                  | `dtype={'Age': int}`              |
| `na_values`       | Define custom missing values                    | `na_values=["?", "N/A", "NaN"]`   |
| `skiprows`        | Skip a number of rows at the beginning          | `skiprows=3`                      |

In [ ]:
df = pd.read_csv(filepath_or_buffer = "../Data/randomrestaurants.csv", sep = ";") #try to set: index_col = 0
df

# Index and select data

When working with **Pandas DataFrames**, selecting specific **rows**, **columns**, or **subsets** of data is crucial. Pandas provides multiple ways to achieve this. The three most commonly used methods for indexing and selecting data are:

1. **Using Square Brackets (`[]`)**
2. **Using `.loc[]` (Label-based selection)**
3. **Using `.iloc[]` (Integer-based selection)**

---

### **1. Using Square Brackets `[]`**
The simplest way to select data from a DataFrame is by using **square brackets**. This method can be used for both **column selection** and **row slicing**.

✅ Good for: Quick column selection and simple row slicing.

❌ Limitations: Cannot select rows by label names (use .loc[] for that).

In [ ]:
restaurants = pd.read_csv("../Data/randomrestaurants.csv", sep = ";",index_col=0)

restaurants

In [ ]:
restaurants["Location"]

In [ ]:
restaurants[["Location","Score"]] #select columns

In [ ]:
#select rows
restaurants[1:4] # three rows in position [1,2,3]

### **2. Selecting Data with .loc[] (Label-Based Selection)**
The `.loc[]` method is used when selecting data by label (row names or column names). It supports:

Selecting specific rows by label.
Selecting specific columns by column name.
Slicing based on row labels.

✅ Good for: Selecting data based on row labels and column names.

❌ Limitations: Requires row labels; not suited for numeric index selection (use .iloc[] instead).

In [ ]:
#WHAT IF i want to select columns and rows as 2D numpy array

#you can use:
#1) loc (based on labels)
#2) iloc (position based)

restaurants.loc["RS"]#as pandas series

### **3. Selecting Data with .iloc[] (Integer-Based Selection)**

The `.iloc[]` method is used for integer-based selection, where rows and columns are indexed numerically.

✅ Good for: Selecting data based on numeric row positions.

❌ Limitations: Cannot use labels; relies only on integer indices.

In [ ]:
restaurants.iloc[:5,[1,2]]

<div style="border: 2px solid darkblue; padding: 10px; background-color: #89D9F5;">

### **Exercise - Differences Between `.loc[]` and `.iloc[]` for Numeric Indices**

#### **Objective**
In this exercise, you will practice using **`.loc[]`** (label-based indexing) and **`.iloc[]`** (integer-based indexing) to select specific rows and columns from a **restaurant dataset**.

#### **Tasks**
1. **Select the first three rows** using both `.loc[]` and `.iloc[]`.
2. **Select the first and last columns** using both `.loc[]` and `.iloc[]`.
3. **Compare** the outputs and observe any differences.

#### **Hints**
- Use `df.loc[start:end, column_names]` for label-based selection.
- Use `df.iloc[start:end, column_positions]` for position-based selection.
- The first column can be accessed using index **0** and the last column using **-1** with `.iloc[]`.

</div>

### Solution

In [1]:
import pandas as pd

restaurants = pd.read_csv("../Data/randomrestaurants.csv", sep = ";",index_col=0)

# Reset index to ensure numeric indices are used
restaurants.reset_index(drop=True, inplace=True)

print("Original Restaurant DataFrame:")
print(restaurants)

# --- Task 1: Select the first 3 rows ---
print("\nSelecting first 3 rows using loc:")
print(restaurants.loc[0:2])  # Using labels (inclusive end)

print("\nSelecting first 3 rows using iloc:")
print(restaurants.iloc[0:3])  # Using integer positions (exclusive end)

# --- Task 2: Select first and last columns ---
print("\nSelecting first and last columns using loc:")
print(restaurants.loc[:, ["Restaurant", "Score"]])  # Using column names

print("\nSelecting first and last columns using iloc:")
print(restaurants.iloc[:, [0, -1]])  # Using column index positions

Original Restaurant DataFrame:
            Restaurant     Location  Score
0  HABITAT COFFEE SHOP        Milan     95
1             REILLY'S  Los Angeles     91
2       STREET CHURROS     New York     90
3  RIO GENTLEMANS CLUB         Rome     96
4    LE PAIN QUOTIDIEN       Berlin     89
5    TRINITI ECHO PARK       Madrid     99
6  MARCE'S MINI MARKET    Cape Town     93
7               POLLEN       Ottawa     94
8       THE SPOT GRILL      Toronto     97

Selecting first 3 rows using loc:
            Restaurant     Location  Score
0  HABITAT COFFEE SHOP        Milan     95
1             REILLY'S  Los Angeles     91
2       STREET CHURROS     New York     90

Selecting first 3 rows using iloc:
            Restaurant     Location  Score
0  HABITAT COFFEE SHOP        Milan     95
1             REILLY'S  Los Angeles     91
2       STREET CHURROS     New York     90

Selecting first and last columns using loc:
            Restaurant  Score
0  HABITAT COFFEE SHOP     95
1             REILLY'S     91
2       STREET CHURROS     90
3  RIO GENTLEMANS CLUB     96
4    LE PAIN QUOTIDIEN     89
5    TRINITI ECHO PARK     99
6  MARCE'S MINI MARKET     93
7               POLLEN     94
8       THE SPOT GRILL     97

Selecting first and last columns using iloc:
            Restaurant  Score
0  HABITAT COFFEE SHOP     95
1             REILLY'S     91
2       STREET CHURROS     90
3  RIO GENTLEMANS CLUB     96
4    LE PAIN QUOTIDIEN     89
5    TRINITI ECHO PARK     99
6  MARCE'S MINI MARKET     93
7               POLLEN     94
8       THE SPOT GRILL     97

# Concatenating dataset

In [2]:
restaurants = pd.read_csv("../Data/randomrestaurants.csv", sep = ";",index_col=0)
r1 = restaurants.iloc[:5]
r2 = restaurants.iloc[5:]

<div style="border: 2px solid darkblue; padding: 10px; background-color: #89D9F5;">

### **Exercise - Concatenating DataFrames with `pd.concat()`**


Combine r1 and r2 using `pd.concat()`. This method is useful for **stacking datasets vertically (row-wise) or horizontally (column-wise).**

</div>

### Solution

In [ ]:
r3 = pd.concat([r1,r2])

# Looping on DataFrames

In [ ]:
for i in restaurants:
    print(i)

In [ ]:
for label, row in restaurants.iterrows():
    print(label,":",row)

In [ ]:
for label, row in restaurants.iterrows():
    print(label+": "+row["Restaurant"])#+" "+row[("Score")])

# Column manipulation

In [3]:
for label, row in restaurants.iterrows():
    restaurants.loc[label,"name_len"] = int(len(row["Restaurant"]))

restaurants

              Restaurant     Location  Score  name_len
HCS  HABITAT COFFEE SHOP        Milan     95      19.0
RS              REILLY'S  Los Angeles     91       8.0
SC        STREET CHURROS     New York     90      14.0
RGC  RIO GENTLEMANS CLUB         Rome     96      19.0
LPQ    LE PAIN QUOTIDIEN       Berlin     89      17.0
TEP    TRINITI ECHO PARK       Madrid     99      17.0
MMM  MARCE'S MINI MARKET    Cape Town     93      19.0
P                 POLLEN       Ottawa     94       6.0
TSG       THE SPOT GRILL      Toronto     97      14.0

In [ ]:
restaurants["name_len2"] = restaurants["Restaurant"].apply(len)

restaurants

In [ ]:
def rest_class(score):
    if score>95:
        return "A"
    return "B"


# using rest_class function
restaurants["class1"] = restaurants["Score"].apply(rest_class)

restaurants

# MERGING

In [ ]:
restaurants = pd.read_csv("../Data/randomrestaurants.csv", sep = ";",index_col=0)
restaurants2 = pd.read_csv("../Data/randomrestaurants_2.csv", sep = ";",index_col=0) # Load a different source

pd.merge(restaurants,restaurants2 ,left_index=True,right_index=True)

In [ ]:
pd.merge(restaurants,restaurants2,left_on="Restaurant",right_on="Restaurant" )

In [ ]:
pd.merge(restaurants,restaurants2,left_on="Restaurant",right_on="Restaurant", how='outer' ) 
# Let's try how ='outer', how= 'left', how = 'right'

![Join](join.jpg)

## 🌿 **Try It Yourself: Working with the Iris Dataset**  

In this exercise, you will **import, manipulate, and analyze** the famous **Iris dataset** using Pandas.

---

### **📝 Instructions**

1️⃣ **Import the dataset** `iris` as a Pandas DataFrame.  
2️⃣ **Assign column names**:  
   - `sepal length`, `sepal width`, `petal length`, `petal width`, and `type`.  
3️⃣ **Create a new column** `ratio_length`:  
   - Compute the **ratio** between **sepal length** and **petal length** (`sepal_length / petal_length`).  
4️⃣ **Add a new column** `target`:  
   - Set the value to **1** if the flower type is **"setosa"**, otherwise set it to **0**.  

---